In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/processed/cleaned_data_v1.csv')
df.head()

,Kms_Driven,new_Selling_Price,new_Present_Price,Car_Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,27000,335000.0,559000.0,8,0,1,1
1,43000,475000.0,954000.0,9,1,0,1
2,6900,725000.0,985000.0,5,0,1,1
3,5200,285000.0,415000.0,11,0,1,1
4,42450,460000.0,687000.0,8,1,0,1

In [4]:
X=df.drop(['new_Selling_Price'],axis=1)
X

,Kms_Driven,new_Present_Price,Car_Age,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
0,27000,559000.0,8,0,1,1
1,43000,954000.0,9,1,0,1
2,6900,985000.0,5,0,1,1
3,5200,415000.0,11,0,1,1
4,42450,687000.0,8,1,0,1
...,...,...,...,...,...,...
195,33988,1160000.0,6,1,0,1
196,60000,590000.0,7,0,1,1
197,87934,1100000.0,13,0,1,1
198,9000,1250000.0,5,1,0,1
199,5464,590000.0,6,0,1,1

In [5]:
y=df['new_Selling_Price']
y

0       335000.0
1       475000.0
2       725000.0
3       285000.0
4       460000.0
         ...
195     950000.0
196     400000.0
197     335000.0
198    1150000.0
199     530000.0
Name: new_Selling_Price, Length: 200, dtype: float64

In [6]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=12)

In [7]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [8]:
import pickle
with open('../models/lr_model.pkl', 'wb') as model_file:
    pickle.dump(model, model_file)